/* Center the login form and title */
.login-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

/* Style for the title */
.login-container h2 {
  font-size: 3rem; 
  margin-bottom: 80px; 
}

mat-form-field {
  width: 100%;
  max-width: 400px; 
  margin-bottom: 15px; 
}

/* Style for the button */
button {
  width: 100%; 
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 20px; 
}

.error-message {
  color: red; 
  font-weight: bold; 
  margin-top: 10px; 
}